*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif;
}
.card-style-3{
    background: radial-gradient(at center, hwb(36 36% 8%), yellow);
    display: flex;
    flex-wrap: wrap;
    border: 18px solid #c5c20d;
    max-width: 350px;
    object-fit: cover;
    border-radius: 20px;
    margin: 16px auto;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.card-style-3 img{
    max-width: 350px;
    height: 200px;
    margin-left: 12px;
    object-fit: cover;
    border: solid 2px;
    margin: 10px;
    border: solid rgb(221, 209, 36);
    
}
.name{

    display: inline;
    font-size: 24px;
    
}
.health{
    display: inline;
    margin-left: 120px;

}
.details{
    background: radial-gradient(from left right, yellow, rgb(160, 160, 33));
    font-size: 14px;
    max-width: 100%;
    
}
.card-style-3 .bold{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}
.power{
    display: inline-block;
    font-size: 30px;
}