{
    box-sizing:border-box;
}
body {
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box-1 {
    width: 100%;
    background-color:#351858;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}
#box-2 {
    width: 100%;
    text-align: center;
    background-color: #ec058e;
    color: white;
}
#box-3 {
    width: 100%;
    text-align: center;
    background-color: #61377a;
    color: white;
}
#box-4 {
    width: 100%;
    text-align: center;
    background-color: #ef7135;
    color: white;
}
#box-5 {
    width: 100%;
    text-align: center;
    background-color: #8ac9d4;
    color: white;
}
#box-6 {
    width: 100%;
    text-align: center;
    background-color: #ef4f91;
    color: white;
}
#box-7 {
    width: 100%;
    text-align: center;
    background-color: #52ccd6;
    color: white;
}
#box-8 {
    width: 100%;
    text-align: center;
    background-color: #ca9a56;
    color: white;
}
.img-1 {
    background-color: #37b0c9;
    border: 10px solid black;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-2 {
    background-color: #5fbbe7;
    border: 10px solid black;
    width:400px;
    margin-left: auto;
    margin-right: auto;
}
.img-3 {
    background-color: #9bdbf5;
    border: 10px solid black;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-4 {
    background-color:#ffeacf;
    border: 10px solid black;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-5 {
    background-color:#673888;
    border: 10px solid black;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-6 {
    background-color:#fff7a7;
    border: 10px solid black;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}.img-7 {
    background-color:#ec3f41;
    border: 10px solid black;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.b1 {
    border: 10px solid #351858;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color:#351858;
}