* {
    box-sizing: border-box
}
body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
}
.light-container-1a {
    background-color:#351858;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 24px;
}
.pony-1a {
    background-color: #ec058e;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    color: #e4e7ec;
}
.light-container-1 {
    background-color: #3977b8;
    padding: 48px 0px;
    margin-left: auto;
    margin-right: auto;
}
.pony-1 {
    background-color:#5fbbe7;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    color: #61377a;
    #3977b8
}
.light-container-2 {
    background-color: #ef7135;
    padding: 48px 0px;
    margin-left: auto;
    margin-right: auto;
}
.pony-2 {
    color: #9bdbf5;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    background-color: #faf5ab;
}
.light-container-3 {
    background-color: #8ac9d4;
    padding: 48px 0px;
    margin-left: auto;
    margin-right: auto;
}
.pony-3 {
    background-color: #ffeacf;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    color: #e13690;
}
.light-container-4 {
    background-color: #ef4f91;
    padding: 48px 0px;
    margin-left: auto;
    margin-right: auto;
}
.pony-4 {
    color: #673888;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    background-color:#c79dd7
}
.light-container-5 {
    background-color: #fff7a7;
    padding: 48px 0px;
    margin-left: auto;
    margin-right: auto;
}
.pony-5 {
    background-color: #95d4e4;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    color:#19c3ba;
}
.light-container-6 {
    background-color: #ca9a56;
    padding: 48px 0px;
    margin-left: auto;
    margin-right: auto;
}
.pony-6 {
    background-color: #ec3f41;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    color: #faf5ab;
}