* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background: url("../images/Bkrnd_Rami325.png");
}
/*HEADER*/
#navbar {
    background-color: #544941;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar a {
    text-decoration: none;
    color: #ffece0;
    padding: 24px;
}
#navbar #logo img {
    width: 150px;
}
#navbar .cta-button { /*REVISIT COLORS*/
    background-color: #ffece0;
    color: #544941;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
/*END OF SECTION*/
/*HEADER 2*/
#navbar-bottom {
    background-color: #6F8275;
    position: sticky;
    top: 150px;
    min-width:480
}
#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}
#navbar-bottom a {
    text-decoration: none;
    color: #ffece0;
    padding: 12px 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width:480
}
/*END OF SECTION*/
/*HERO*/
#hero {
    background-image: url("../images/Hero_Rami325.png");
    height: 50vh;
    background-size: cover;
    max-width: 1000;
    min-width:480
}
/*END OF SECTION*/
/*MEET THE DESIGNERS*/
#section-1 {
    background-color: rgb(255 236 224/75%);
    margin: 56px;
    border: 4px solid #544941;
    border-radius: 16px;
    padding: 10px 24px;
    min-width: 600px;
}
.s1-heading {
    color: #544941;
}
.s1-heading h2 {
    font-size: 36px;
    text-align: center;
}
.s1-container {
    min-width: 600px;
    max-width: 1200px;
    display: flex;
}
.s1-content {
    display: flex;
    align-items: center;
    margin-left: 48px 0px;
}
.s1-content .s1-text {
    flex: 1;
    padding: 36px;
    text-align: center;
}
.s1-content .s1-text h3 {
    font-size: 18px;
}
.s1-content .s1-text a {
    background-color: #6F8275;
    color: #FFECE0;
    border-radius: 36px;
    font-size: 20px;
    font-weight: bold;
    max-width: 150px;
    text-decoration: none;
    text-align: center;
    padding: 6px;
}
.s1-content .s1-image {
    flex: 1;
}
.s1-content .s1-image img {
    width: 100%;
    border-radius: 16px;
}
/*END OF SECTION;

/*GALLERY*/
#section-2 {
    background-color: #6F8275;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1000;
    min-width:480
}
.s2-heading {
    color: #544941;
    padding-top: 20px;
}
.s2-heading h3 {
    font-size: 36px;
    text-align: center;
}
.s2-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 48px;
}
.s2-gallery img {
    height: 250px;
    max-width: 400px;
    flex: 1;
    object-fit: cover;
    border: 4px solid #544941;
    border-radius: 16px;
}
/*END OF SECTION*/

/*SERVICE LIST*/
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
#section-3 {
    background: 
        linear-gradient(#FFECE0, #6F8275, #6F8275, #6F8275, #006373);
    padding: 48px;
}
.s3-heading {
    color: #FFECE0;
    padding-top: 20px;
}
.s3-heading h2 {
    font-size: 36px;
    text-align: center;
}
.s3-container {
    display: flex;
    justify-content: space-between;
}
.s3-card-content {
    flex: 1;
    border: 4px solid #FFECE0;
    border-radius: 16px;
    padding: 36px;
    text-align: center;
    margin: 36px;
    background-color: #544941;
}
.s3-card-content h3 {
    font-size: 24px;
}
.s3-card-content ul {
    font-size: 18px;
}
#section-3 .cta-button {
    background-color: #ffece0;
    color: #544941;
    border-radius: 36px;
    font-size: 20px;
    font-weight: bold;
    max-width: 150px;
    text-decoration: none;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding: 5px 35px;
}
/*END OF SECTION*/

/*CONTACT FORM*/
#s4-layout {
    width: 500px;
    margin: 0px auto;
}   
header {
    text-align: center;
    padding: 50px;
}
header p {
    font-size: 14px;}
form {
    background-color: white;
    padding: 36px;border: 2px solid #CCCCCC;
    border-radius: 2px;
}
form div label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input,
select,
textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    margin-bottom: 16px;
}
textarea {
    font-family: sans-serif;
}
input[type=submit] {
    width: auto;
    background-color: #0e6de1;
    color: white;
    border: 0;
    border-radius: 3px;
    min-width: 75px;
}
input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}
/*END OF SECTION*/

/*MEDIA QUERIE - INTRO
@media screen and (max-width: 768px) and (min-width: 481px) {
#section-1,
#section-2,
#section-3 {
    flex-direction: column;
    align-items: center;
}
.s1-heading,
.s2-heading,
.s3-heading {
    flex-direction: column;
    align-items: center;
}
.content-containerh1 {
    font-size: 32px;
}
.intro{
    gap: 24px;
}
.image-container{
    height: 300px;
}
.s2-gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img1""img2 img2""img3 img3""img4";
}
}
    
@media screen and (max-width: 480px) {
#section-1,
#section-2,
#section-3 {
    flex-direction: column;
    align-items: center;
}
.s1-heading,
.s2-heading,
.s3-heading {
    flex-direction: column;
    align-items: center;
}
.s3-card,
.s3-content{
    flex-direction: column;
    gap: 24px;
}
.content-containerh1 {
    margin: 0px;
    font-size: 32px
}
.content-container{
    text-align: center;
}.s2-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 48px;
    height: 250px;
    max-width: 400px;
    flex: 1;
    object-fit: cover;
    border: 4px solid #544941;
    border-radius: 16px;
}.s2-galleryp {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;}
}
/*END OF SECTION*/

/*WORKS_J_PROFILE
.s2-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 48px;
}
.s2-gallery img {
    height: 250px;
    max-width: 400px;
    flex: 1;
    object-fit: cover;
    border: 4px solid #544941;
    border-radius: 16px;
}
/*END OF SECTION*/

/*WORKS_K_PROFILE*/
/*END OF SECTION*/

/*WORKS_J_PORTFOLIO*/
/*END OF SECTION*/

/*WORKS_K_PORTFOLIO*/
/*END OF SECTION*/

/*ABOUT*/
/*END OF SECTION*/

/*CONTACT*/
/*END OF SECTION*/

/*FOOTER*/
/*END OF SECTION*/