* {
    box-sizing: border-box;}
body {
    margin: 0px;font-family: sans-serif;
}
#section-1 .card-style-1 {
    max-width: 350px;
    margin: 16px;
    box-shadow: 4px 4px 8px #00000088;
}
.card-style-1 {
    width: 350px;
    box-shadow: -4px4px 12px #ceaaaa;
    background: white;
    display: flex;
    flex-direction: column;}
.card-style-1 img {
    width: 350px;
    height: 100%;
    object-fit: cover;
}
.card-style-1 h2 {
    font-size: 24px;
    margin: 12px;
    padding: 10px;
}   
.card-style-1 p {
    font-size: 16px;
    flex: 1;
    margin: 10px;
} 
.card-style-1 a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: lightcoral;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid lightcoral;
    transition:background-color .5s,color .5s;
}
.card-style-1 a:hover {
    background-color: transparent;
    color: lightcoral;
}