* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
/*HEADER*/
#navbar {
    background-color: #544941;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;top: 0px;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar #logo img {
    width: 150px;
}
#navbar .cta-buttom { /*REVISIT COLORS*/
    background-color: #ffece0;
    color: #544941;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
/*END OF SECTION*/
/*HEADER 2*/
#navbar-bottom {
    background-color: #6F8275;
}
#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}
#navbar-bottom a {
    text-decoration: none;
    color: #ffece0;
    padding: 12px 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/*END OF SECTION*/
/*HERO*/
#hero {
    background-image: url("../images/Rami325_Hero_image.png");
    height: 50vh;
    background-size: cover;
}
/*END OF SECTION*/

/*HOME*/
/*END OF SECTION*/

/*SERVICES*/
/*END OF SECTION*/

/*WORKS*/
/*END OF SECTION*/

/*WORKS - INTRO*/
/*END OF SECTION*/

/*WORKS_J_PROFILE*/
/*END OF SECTION*/

/*WORKS_K_PROFILE*/
/*END OF SECTION*/

/*WORKS_J_PORTFOLIO*/
/*END OF SECTION*/

/*WORKS_K_PORTFOLIO*/
/*END OF SECTION*/

/*ABOUT*/
/*END OF SECTION*/

/*CONTACT*/
/*END OF SECTION*/

/*FOOTER*/
/*END OF SECTION*/