* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}       
.center-column {
    width: 500px;
    margin: 0px auto;
}
/*SEPARATE - DELETE LATER*/
.dark-container {
    background-color: #c4610b;
    color: #fbe888;
    padding: 36px 20px;
}
.side-by-side {
    display: inline-block;
    width: 49%;
}
.side-by-side img {
    padding-left: 36px;
    width: 100%;
}
/*SEPARATE - DELETE LATER*/
#two-columns {
    display: flex;
}
#column-1,
#column-2 {
    flex: 1;
}
#column-1 {
    text-align: center;
}
#column-2 {
    text-align: center;
}
/*SEPARATE - DELETE LATER*/ 
.card {
    padding: 10px;
}
.card a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 200px;
    padding: 10px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
}
.card a:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
}
/*SEPARATE - DELETE LATER*/
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 1;
}
.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}
.side-by-side .image-container img {
    width: 100%;
}
/*DELETE LATER*/
#section1 {
    padding: 50px;
}
.side-by-side-2 {
    display: flex;
    align-items: center;
    margin: auto;
}
.side-by-side-2 .image-container {
    flex: 1;
}
.side-by-side-2 .text-container {
    flex: 1;
    padding: 36px;
}  
.side-by-side-2 .image-container img {
    width: 100%;
}   
.side-by-side-2 .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #3f0791;
    color: white;
    padding: 24px 48px;
    border-radius: 48px;
    text-align: center;
}

* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family: sans-serif;
}    
.light-container {
    background-color: #000000;
    padding: 36px 0px;
    text-align: center;
}  
.dark-container {
    background-color: #921111;
    color: #ffffff;
    padding: 36px 0px;
    text-align: center;
}
.side-by-side {
    display: inline-block;
    width: 49%;
}
.side-by-side img {
    padding-left: 36px;
    width: 100%;
}
/*DELETE LATER*/
* {
box-sizing: border-box;}
    
body {
    margin: 0px;font-family: sans-serif;background-color: #1f1f1f;color: #EEEEEE;}
    
#grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 36px;
    grid-template-areas: ". left-sidebar main-area right-sidebar .";
    text-align: center;
}
#sidebar-column-1 h2,
#sidebar-column-2 h3 {
    border-bottom: 2px solid #AAAAAA;
    padding-bottom: 8px;
}
    
#sidebar-column-1 ul,
    #sidebar-column-2 ul {
    list-style-type: none;
    padding: 0px;
}
    
#sidebar-column-1 ul li,
    #sidebar-column-2 ul li {
    list-style-type: none;padding: 4px 0px;}
    
#sidebar-column-1 ul a,
#sidebar-column-2 ul a {
    color: #EEEEEE;
    text-decoration: none;
}  
#primary-column {
    grid-area: main-area;
    align-items: center;
    display: flex;
}  
#primary-column .h1 {
    max-width: 600px;
    display: flex;
    align-items: center;
    margin left: auto;
    margin right: auto;

}  
#sidebar-column-2 {
    margin-right: 24px;grid-area: right-sidebar;}
    
#sidebar-column-1 .inner-content,
#sidebar-column-2 .inner-content {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 4px;
    color: #000000;
}