/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
#image2 {
    width: 85px;
    margin-top: 10px;
    border: 10px ridge rgb(0, 0, 0);
    padding:10px;
    background-color:rgb(255, 255, 255);
    margin-left: 55px;
}
#image4 {
    width: 85px;
    margin-top: 10px;
    border: 10px ridge rgb(0, 0, 0);
    padding:10px;
    background-color:rgb(255, 255, 255);
    margin-left: 55px;
}
#image7 {
    width: 85px;
    margin-top: 10px;
    border: 10px ridge rgb(0, 0, 0);
    padding:10px;
    background-color:rgb(255, 255, 255);
    margin-left: 55px;
}
p {
    border: 10px ridge black;
    margin-top: 15px;
    padding: 10px;
    background-color:rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#image1 {
    width: 105px;
    margin-top: 15px;
    border: 10px ridge rgb(0, 0, 0);
    padding:10px;
    background-color:rgb(255, 255, 255);
}
#image5 {
    width: 105px;
    margin-top: 15;
    border: 10px ridge rgb(0, 0, 0);
    padding:10px;
    background-color:rgb(255, 255, 255);
}
#image6 {
    width: 105px;
    margin-top: 15px;
    border: 10px ridge rgb(0, 0, 0);
    padding:10px;
    background-color:rgb(255, 255, 255);
}
